<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap"
      rel="stylesheet"/>
<figure class="image image_resized" style="width:100%;position: relative">
    <img src=[tpt_image]>
    <div style="position: absolute; bottom: 2.0em; left: 1em; font-family: Rubik; color: white; font-size: 50px; max-width: 70%">
        [title]
    </div>
    <div style="position: absolute; bottom: 0.5em; left: 1em; font-family: Rubik; color: white; font-size: 50px; max-width: 60%; font-weight: bold">
        [tpt_title]
    </div>
</figure>
<div class="container" style="background-color: white;padding: 3em 3em 0 3em">
    <figure class="table" style="margin-top: 1em">
        <table border=2 frame=void rules=rows>
            <tbody>
            <tr>
                <td style="padding: 1em 2em;">
                    <strong>Prérequis</strong>
                </td>
                <td style="padding:1em 2em;">[tpt_prerequest]</td>
            </tr>
            <tr>
                <td style="padding: 1em 2em;">
                    <strong>Objectif</strong>
                </td>
                <td style="padding:1em 2em;">[tpt_description]</td>
            </tr>
            <tr>
                <td style="padding: 1em 2em;">
                    <strong>Durée</strong>
                </td>
                <td style="padding:1em 2em;">[tpt_duration]</td>
            </tr>
            </tbody>
        </table>
    </figure>
    <h4 style="margin-left:auto;text-align:center;">&nbsp;</h4>
    <h4 style="margin-left:auto;text-align:center;">
        <span style="color:hsl(30,75%,60%);font-size: 1.5em">Vous intervernez en appui au secteur agricole ?</span>
    </h4>
    <p style="margin-left:auto;text-align:center;">
        <span class="text-big" style="font-size: 1.8em">Que vous soyez chef de projet, coordinateur, chef de service, responsable animation territoriale... cette formation est faites pour vous !</span>
    </p>
    <p style="margin-left:auto;text-align:center;">&nbsp;</p>
    <h4 style="margin-left:auto;text-align:center;">
        <span style="color:hsl(30,75%,60%);font-size: 1.5em">Vous devez accompagner la transition agro-écologique d'un territoire ?</span>
    </h4>
    <p style="margin-left:auto;text-align:center;">
        <span class="text-big" style="font-size: 1.8em">Cette formation en ligne vous permettra de découvrir les méthodes et outils pour identifier les actions multi-acteurs / pluri-secteurs qui favorisent et sécurisent la transition agro-écologique et mettre en oeuvre ces actions.</span>
    </p>
    <p style="margin-left:auto;text-align:center;">&nbsp;</p>
    <p style="margin-left:auto;">
  <span class="text-big" style="color:hsl(30,75%,60%);font-size: 1.5em">
    <strong>[tpt_module_title]</strong>
  </span>
    </p>
    [tpt_module_content]
</div>
