<figure class="image image_resized" style="width:100%;"><img src="[tpt_image]" /></figure>
<h2><span style="color:#908e43;"><strong>Préambule</strong></span></h2>
<p><span style="color:#000000;">[tpt_description]</span></p>
<h2><span style="color:#908e43;"><strong>Prérequis</strong></span></h2>
<p><span style="color:#000000;">[tpt_prerequest]</span></p>
<p>&nbsp;</p>
<h2><span style="color:#908e43;"><strong>Programme du Cycle</strong></span></h2>
<figure class="table">
    <table>
        <tbody>
        <tr>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p>&nbsp;</p>
                <p style="margin-left:20.5pt;text-align:center;"><span style="color:#ffffff;"><strong>Séance&nbsp;d’ouverture</strong></span></p>
            </td>
            <td style="padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:16pt;"><span style="color:#000000;">Présentation&nbsp;du&nbsp;cycle&nbsp;et&nbsp;des&nbsp;participants</span></p>
                <p style="margin-left:16pt;"><span style="color:#000000;">Évaluation&nbsp;des&nbsp;niveaux&nbsp;des&nbsp;participants</span></p>
            </td>
        </tr>
        <tr>
            <td style="padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">&nbsp;</td>
            <td style="padding:0pt 5.3858267716535435pt;width:348.1pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p style="margin-left:20.5pt;text-align:center;"><span style="color:#ffffff;"><strong>Module&nbsp;1</strong></span></p>
            </td>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:2.5500000000000003pt;"><span style="color:#ffffff;"><strong>Les&nbsp;fondamentaux</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="margin-left:19.95pt;text-align:center;"><span style="color:#000000;"><i>Eléments&nbsp;théoriques</i></span></p>
            </td>
            <td style="padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:16pt;"><span style="color:#000000;">Définitions&nbsp;écosystème&nbsp;/&nbsp;agro-système&nbsp;/&nbsp;agro-écologie</span></p>
                <p>&nbsp;</p>
                <p style="margin-left:2.5500000000000003pt;"><span style="color:#000000;">Analyse&nbsp;des&nbsp;principes&nbsp;agroécologiques&nbsp;de&nbsp;gestion&nbsp;du&nbsp;sol,&nbsp;de&nbsp;l’eau,&nbsp;de&nbsp;la&nbsp;plante&nbsp;et&nbsp;de&nbsp;l’animal</span></p>
                <p style="margin-left:16pt;"><span style="color:#000000;">Synthèse&nbsp;:&nbsp;les&nbsp;interactions&nbsp;dans&nbsp;un&nbsp;agrosystème</span></p>
                <p style="margin-left:16pt;"><span style="color:#000000;">L’intervention&nbsp;à&nbsp;l’échelle&nbsp;des&nbsp;paysages</span></p>
            </td>
        </tr>
        <tr>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p style="margin-left:20.5pt;text-align:center;"><span style="color:#ffffff;"><strong>Module&nbsp;2</strong></span></p>
            </td>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:2.5500000000000003pt;"><span style="color:#ffffff;"><strong>Agro-écologie,&nbsp;alternative&nbsp;pour&nbsp;une&nbsp;agriculture&nbsp;durable</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="margin-left:19.95pt;text-align:center;"><span style="color:#000000;"><i>Eléments&nbsp;théoriques</i></span></p>
            </td>
            <td style="padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:2.5500000000000003pt;"><span style="color:#000000;">►L’agro-écologie&nbsp;dans&nbsp;le&nbsp;contexte&nbsp;des&nbsp;projets&nbsp;de&nbsp;développement&nbsp;agricole</span></p>
                <p style="margin-left:16pt;"><span style="color:#000000;">Dimensions&nbsp;économiques&nbsp;et&nbsp;sociales&nbsp;de&nbsp;l’agro-écologie</span></p>
                <p style="margin-left:16pt;"><span style="color:#000000;">Avantages&nbsp;et&nbsp;inconvénients&nbsp;de&nbsp;la&nbsp;mise&nbsp;en&nbsp;œuvre&nbsp;des&nbsp;pratiques&nbsp;agro-écologiques</span></p>
            </td>
        </tr>
        <tr>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p style="margin-left:20.5pt;text-align:center;"><span style="color:#ffffff;"><strong>Module&nbsp;3</strong></span></p>
            </td>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:2.5500000000000003pt;"><span style="color:#ffffff;"><strong>Les&nbsp;systèmes&nbsp;de&nbsp;production&nbsp;agricole</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p>&nbsp;</p>
                <p style="margin-left:19.900000000000002pt;text-align:center;"><span style="color:#000000;"><i>Exercice&nbsp;d’application&nbsp;en&nbsp;groupe</i></span></p>
            </td>
            <td style="padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:16pt;"><span style="color:#000000;">Définition</span></p>
                <p style="margin-left:16pt;"><span style="color:#000000;">Exercice&nbsp;de&nbsp;caractérisation&nbsp;des&nbsp;systèmes&nbsp;de&nbsp;production</span></p>
            </td>
        </tr>
        <tr>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p style="margin-left:20.5pt;text-align:center;"><span style="color:#ffffff;"><strong>Module&nbsp;4</strong></span></p>
            </td>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:2.5500000000000003pt;"><span style="color:#ffffff;"><strong>La&nbsp;diffusion&nbsp;des&nbsp;pratiques</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="margin-left:20.5pt;text-align:center;"><span style="color:#000000;"><i>Exercices&nbsp;d’application&nbsp;en&nbsp;groupe</i></span></p>
            </td>
            <td style="padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:16pt;"><span style="color:#000000;">Présentation&nbsp;du&nbsp;guide&nbsp;«&nbsp;L’Agro-écologie&nbsp;en&nbsp;pratiques&nbsp;»,&nbsp;Agrisud&nbsp;-&nbsp;édition&nbsp;2020</span></p>
                <p>&nbsp;</p>
                <p style="margin-left:16pt;"><span style="color:#000000;">Démarche&nbsp;pour&nbsp;identifier&nbsp;et&nbsp;valider&nbsp;les&nbsp;pratiques&nbsp;agro-écologiques&nbsp;à&nbsp;promouvoir</span></p>
                <p>&nbsp;</p>
                <p style="margin-left:21.85pt;"><span style="color:#000000;">Méthode&nbsp;de&nbsp;préparation,&nbsp;d’animation&nbsp;et&nbsp;d’évaluation&nbsp;d’une&nbsp;séance&nbsp;de</span></p>
                <p style="margin-left:2.5500000000000003pt;"><span style="color:#000000;">sensibilisation/formation&nbsp;sur&nbsp;une&nbsp;pratique&nbsp;agro-écologique</span></p>
                <p>&nbsp;</p>
                <p style="margin-left:18.85pt;"><span style="color:#000000;">Exercices&nbsp;de&nbsp;mise&nbsp;en&nbsp;situation&nbsp;d’animation&nbsp;d’une&nbsp;séance&nbsp;de&nbsp;sensibilisation/</span></p>
                <p style="margin-left:2.5500000000000003pt;"><span style="color:#000000;">formation</span></p>
            </td>
        </tr>
        <tr>
            <td style="background-color:#497634;padding:0pt 5.3858267716535435pt;width:176.00000000000003pt;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="margin-left:20.5pt;text-align:center;"><span style="color:#ffffff;"><strong>Séance&nbsp;de&nbsp;clôture</strong></span></p>
            </td>
            <td style="padding:0pt 5.3858267716535435pt;width:348.1pt;">
                <p style="margin-left:16pt;"><span style="color:#000000;">Evaluation&nbsp;de&nbsp;la&nbsp;satisfaction&nbsp;et&nbsp;des&nbsp;acquis</span></p>
                <p style="margin-left:16pt;"><span style="color:#000000;">Synthèse&nbsp;de&nbsp;la&nbsp;formation</span></p>
                <p style="margin-left:16pt;"><span style="color:#000000;">Remise&nbsp;des&nbsp;attestations&nbsp;de&nbsp;participation&nbsp;et&nbsp;des&nbsp;supports&nbsp;utilisés&nbsp;durant&nbsp;le&nbsp;cycle</span></p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<p>&nbsp;</p>
<h2 style="margin-left:38pt;"><span style="color:#908e43;"><strong>Chronogramme prévisionnel</strong></span></h2>
<p>&nbsp;</p>
<figure class="table">
    <table style="border:0.5pt solid #000000;">
        <tbody>
        <tr>
            <td style="border-bottom:0.5pt solid #000000;border-left-style:none;border-right:0.5pt solid #000000;border-top-style:none;padding:0pt 5.3858267716535435pt;width:223.75pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">
                <p style="margin-left:7.200000000000001pt;"><span style="color:#ffffff;"><strong>Jour&nbsp;1</strong></span></p>
            </td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">
                <p style="margin-left:7.15pt;"><span style="color:#ffffff;"><strong>Jour&nbsp;2</strong></span></p>
            </td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">
                <p style="margin-left:7.4pt;"><span style="color:#ffffff;"><strong>Jour&nbsp;3</strong></span></p>
            </td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">
                <p style="margin-left:6.500000000000001pt;"><span style="color:#ffffff;"><strong>Jour&nbsp;4</strong></span></p>
            </td>
            <td style="background-color:#a6a6a6;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">
                <p style="margin-left:8.45pt;"><span style="color:#ffffff;"><strong>Jour&nbsp;5</strong></span></p>
            </td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">
                <p style="margin-left:8.2pt;"><span style="color:#ffffff;"><strong>Jour&nbsp;6</strong></span></p>
            </td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">
                <p style="margin-left:7.25pt;"><span style="color:#ffffff;"><strong>Jour&nbsp;7</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;"><strong>Séance&nbsp;d’ouverture</strong></span></p>
            </td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color:#ca9609;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:529.25pt;" colspan="9">
                <p style="margin-left:5.3pt;"><span style="color:#ffffff;"><strong>Module&nbsp;1&nbsp;:&nbsp;Les&nbsp;fondamentaux</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Définitions</span></p>
            </td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Principes&nbsp;de&nbsp;gestion&nbsp;des&nbsp;éléments&nbsp;de&nbsp;l’agrosystème</span></p>
            </td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Synthèse:&nbsp;les&nbsp;interactions&nbsp;dans&nbsp;un&nbsp;agrosystème</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Echelle&nbsp;d’intervention</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color:#ca9609;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:529.25pt;" colspan="9">
                <p style="margin-left:5.3pt;"><span style="color:#ffffff;"><strong>Module&nbsp;2&nbsp;:&nbsp;Agro-écologie,&nbsp;alternative&nbsp;pour&nbsp;une&nbsp;agriculture&nbsp;durable</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Agroécologie&nbsp;et&nbsp;projets&nbsp;de&nbsp;développement&nbsp;agricole</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Dimensions&nbsp;économiques&nbsp;et&nbsp;sociales</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Avantages&nbsp;et&nbsp;inconvénients</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color:#ca9609;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:529.25pt;" colspan="9">
                <p style="margin-left:5.3pt;"><span style="color:#ffffff;"><strong>Module&nbsp;3&nbsp;:&nbsp;Les&nbsp;systèmes&nbsp;de&nbsp;production</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Définition</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Caractérisation&nbsp;des&nbsp;systèmes&nbsp;dans&nbsp;la&nbsp;zone</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="background-color:#ca9609;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:529.25pt;" colspan="9">
                <p style="margin-left:5.3pt;"><span style="color:#ffffff;"><strong>Module&nbsp;4&nbsp;:&nbsp;La&nbsp;diffusion&nbsp;des&nbsp;pratiques</strong></span></p>
            </td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Présentation&nbsp;du&nbsp;guide</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Démarche&nbsp;d’identification&nbsp;des&nbsp;pratiques</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Méthode&nbsp;des&nbsp;objectifs&nbsp;pédagogiques</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;">Mise&nbsp;en&nbsp;situation&nbsp;de&nbsp;formation</span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:223.75pt;">
                <p style="margin-left:5.3pt;"><span style="color:#000000;"><strong>Séance&nbsp;de&nbsp;clôture</strong></span></p>
            </td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:41.79999999999999pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.300000000000004pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:40.399999999999984pt;">&nbsp;</td>
            <td style="background-color:#c0c0c0;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:9.000000000000034pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:44.19999999999998pt;">&nbsp;</td>
            <td style="border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:43.90000000000001pt;">&nbsp;</td>
            <td style="background-color:#497634;border:0.5pt solid #000000;padding:0pt 5.3858267716535435pt;width:42.10000000000004pt;">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</figure>